/drip-commons/target/
/drip-api/target/
/drip-planner/target/
/drip-commons/nbproject/
/drip-simple_planner/target/
/drip-provisioner/target/
/target/
/drip-planner2provisioner/target/
/drip-component_example/target/
/deleteme/target/
/drip-api/nbproject/
/drip-tests/nbproject/
/drip-tests/target/
/docs/playbooks/euroArgo_conf_playbook2.yml
/Dockerfiles/env_file
/argo_optimizer/nbproject/private/
/drip_planner2/nbproject/private/
/drip-deployer/deployer_files/
/drip_planner2 (copy)/nbproject/private/
/drip_util/nbproject/private/
/drip_transformer/nbproject/private/
/drip_parser/nbproject/private/
/drip_parser (copy)/nbproject/private/
/drip-provisioner (copy)/target/
/drip_parser.tar.gz
/docs/playbooks/set_dockerhub_credentials.yml
/drip_planner2/src/planner/__pycache__/
/winery_service/nbproject/private/
/winery_service/src/winery/__pycache__/
/tosca_service/nbproject/private/