apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: conf
  annotations:
    kompose.cmd: kompose convert
    kompose.version: 1.16.0 (0c01309)
  creationTimestamp: null
  labels:
    io.kompose.service: sure-tosca
  name: sure-tosca
spec:
  selector:
    matchLabels:
      io.kompose.service: sure-tosca
  replicas: 1
  strategy:
        type: RollingUpdate
        rollingUpdate:
            maxSurge: 50%
            maxUnavailable: 50%
  minReadySeconds: 10
  revisionHistoryLimit: 3
  template:
    metadata:
      creationTimestamp: null
      labels:
        io.kompose.service: sure-tosca
    spec:
      containers:
      - image: qcdis/sure-tosca:3.0.0
        name: sure-tosca
        imagePullPolicy: Always
        ports:
        - containerPort: 8081
        resources: {}
      restartPolicy: Always
status: {}
